<div class="container">
    <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmitted()">
            <div class="form-group">
                <label for="email">Email</label><input type="text" class="form-control" id="email" formControlName="email" />
                <span class="alert alert-danger" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                  Invalid Username!
                </span>
            </div>
            <div class="form-group">
                <label for="password">Password</label><input type="text" class="form-control" id="password" formControlName="password" />
                <span class="alert alert-danger" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                  Invalid Password!
                </span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button> /
                <button type="button" class="btn btn-outline-primary" (click)="redirectToSignUp()">Register</button>
            </div>
            <div class="form-group">
                <div *ngIf="!authStatus && hasAttemptedLogin">Invalid username or password</div>
            </div>
        </form>
    </div>
</div>