<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.12.1" targetFramework="net40" />
  <package id="angularjs" version="1.3.15" targetFramework="net40" />
  <package id="AngularJS.Core" version="1.3.14" targetFramework="net40" />
  <package id="AngularJS.Resource" version="1.3.14" targetFramework="net40" />
  <package id="AngularJS.Route" version="1.3.14" targetFramework="net40" />
  <package id="bootstrap" version="3.4.1" targetFramework="net40" />
  <package id="jQuery" version="2.1.3" targetFramework="net40" />
  <package id="ng-grid" version="2.0.12" targetFramework="net40" />
  <package id="ngGrid" version="2.0.14" targetFramework="net40" />
</packages>