<div class="container">
    <div class="row">
        <form (ngSubmit)="onUserSignUp(signUpForm)" #signUpForm="ngForm">
            <div class="form-group">
                <label for="fName">First Name</label><input class="form-control" type="text" id="fName" name="fName" ngModel required #fName="ngModel" />
                <span *ngIf="!fName.valid && fName.touched">First Name is required</span>
            </div>
            <div class="form-group">
                <label for="lName">Last Name</label><input class="form-control" type="text" id="lName" name="lName" ngModel required #lName="ngModel" />
                <span *ngIf="!lName.valid && lName.touched">Last Name is required</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label><input class="form-control" type="text" id="email" name="email" ngModel required #email="ngModel" />
                <span *ngIf="!email.valid && email.touched">Email is required</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label><input class="form-control" type="text" id="password" name="password" required ngModel #password="ngModel" />
                <span *ngIf="!password.valid && password.touched">Password is required</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button> /
                <button type="button" class="btn btn-outline-warning" (click)="redirectToLogin()">Cancel</button>
            </div>
        </form>
    </div>
</div>
